<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/about">About</a>
	</nav>
	<h2>
		This is from index part ... |  <%= title %>
	</h2>
	<h1>All Blogs --------------------</h1>
	<% if (blogs.length > 0) { %>
		<% blogs.forEach( blog => { %>
			<h4><%= blog.title %></h4>
			<p> <%= blog.snnipts %> </p>
		
		<% }) %>
		
	<% } else { %>
		<p>there isnt any blog...</p>
	<% }%>

	
</body>
</html>